//*
 * Name: Thales Barros Fajardo Valente
 * Student ID: 200400698
 * Date: 07/06/2020
 * 
 * Description: About page, where I tell a little bit about myself and my history
 */
extends partials/header

block content
  h1= title
  img(src="../images/pp.jpg" width="300" height="300" style="border-radius: 50%;")
  p My name is Thales Barros Fajardo Valente. Currently, a student at Georgian College Barrie Campus. I am 19 and I've had some experience with programming since high school. I started with Introduction at Computer Programming, utilizing Java to create projects. After that, I started to study on my own and have been persuing until now, graduating in August 2020.
  p I am originally from Sao Paulo, Brazil. But I managed to finish my last year of high school in Canada. Now, I am living independetly in Barrie and searching for good job oportunities for software programmers and web designers.
  p I have completed a 8 months CO-OP process with a web design company called Be Visible Web Design. I created, managed and troubleshot various web pages for different businesses and applied back-end development to make sure the system was organized and functional. 
  p I am sure that I can be an asset to your company, be it revolving creation of web pages, creation of software tools and management of projects.
  include partials/footer