extends partials/header

block content
  h1= title
  br
  h2 Would you like to contact me? Send me a message with your name and email to let me know.
  div(id="divideContact")
   form(id="formContact" method='POST' action='/contact')
        div
            h3 Name
            input(type='text' name='name')
        div
            h3 Email
            input(type='email' name='email')
        div
            h3 Description
            textarea(name='description' rows='8' cols='80')
        div
            button(type='submit' value='Submit') Submit