extends partials/header

block content
  //
  // Name: Thales Barros Fajardo Valente
  // Student ID: 200400698
  // Date: 07/06/2020
  //  
  // Description: Home page that introduces the content present in these pages
  // 
  h1= title
  br
  h2 Welcome to my portfolio!
  p My name is Thales Barros Fajardo Valente, a 19-years-old student from Georgian College, Barrie. I am currently studying Computer Programming and I am sure I can be an asset to your company!
  br
  p In this portfolio, you will:
  //List of the content on the website
  ol
    li About me and my studies;
    li My skills and abilities applicable for your company;
    li Some examples of my past projects;
    li Means to contact me if interested.
  

  include partials/footer