extends partials/header

block content
  //
  // Name: Thales Barros Fajardo Valente
  // Student ID: 200400698
  // Date: 07/06/2020
  //Website: https://assignment1comp.herokuapp.com/
  // Description: Services that I can offer to the companies, and the list of skills I have
  //
  h1= title
  p While I am still young, I have acquired a wide range of skills that will certaintly be useful for your company. Some of the are:
  //Unordered list of skills
  ul
    li Proficiency with Java, C++, C#, PHP, CSS, HTML and Swift.
    li Knowledge of software development, web applications, mobile development and project managing.
    li Proficiency with all assets of Microsoft Office, utilizing Excel and Word to create organized documents.
    li Well-structured verbal communication and writing skills.
    li Teamwork oriented thriving for excellent customer interaction.
    li Hard worker, fast learner, and creative thinker.

  include partials/footer