
//Name: Thales Barros Fajardo Valente
 Student ID: 200400698
 * Date: 07/06/2020
 * 
 * Description: Footer page, present at the end of every page
 */
footer(id="footerPage")
    //add the script for the contact form
    script(type='text/javascript', src='/javascripts/main.js')
    p(id="footerP") This website is merely an academic project focused on developing skills with JavaScript and NodeJS. All the content presented on the website may not be true. Thank you for your time.