footer(id="footerPage")
    script(type='text/javascript', src='/javascripts/main.js')
    p(id="footerP") This website is merely an academic project focused on developing skills with JavaScript and NodeJS. All the content presented on the website may not be true. Thank you for your time.