doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(type='text/javascript', src='/javascripts/main.js')
  body
    header
        table
            th
                a(href='/') Home
            th
                a(href='/about') About
            th
                a(href='/services') Services
            th
                a(href='/projects') Projects
            th
                a(href='/contact') Contact

    block content