doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    header
        table
            th.firstTable
                a(href="/") Home
            th.firstTable
                a(href='/about') About
            th.firstTable
                a(href='/services') Services
            th.firstTable
                a(href='/projects') Projects
            th.firstTable
                a(href='/contact') Contact

    block content